# Flutter / Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Android / Gradle
**/android/.gradle/
**/android/local.properties
**/android/key.properties
**/android/app/upload-keystore.jks

# Downloaded desktop Xray runtime assets
assets/xray/windows/xray.exe
assets/xray/desktop/xray.exe
assets/xray/linux/xray
assets/xray/desktop/xray
assets/xray/common/geoip.dat
assets/xray/common/geosite.dat
